# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ipdb
*.iobj
*.exp

# Project user configuration
*.filters
*.user
*.opendb
*.vscode
*.vs

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe
*.out
*.app
Projects/VS2017/UpgradeLog.htm
Projects/VS2017/x64/Debug/
Projects/VS2017/x64/Release/
Wrappers/Python/__pycache__/libWizium.cpython-39.pyc
